@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;padding: 0;box-sizing: border-box;
}
:root {
  --primary: #9966CC;
}
body{
  background: #121212;
  font-family: 'Poppins', sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  gap: 20px;
  max-width: 500px;
}
.main #bg {
  background: ;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  width: 100%;
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: solid 2px var(--primary);
  text-align: center;
}
  .main #bg:hover {
  background: var(--primary);
}
.membros{
  background: var(--primary);
}
.logo-txt{
  color: #00ff00;
  font-size: 14px;
}
h3 {
  color: #ff00ff;
}
#icon{
  width: 32px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  align-items: center;
}
.redes{
  display: ;
  
}
h2 {
  color: #ff00ff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}